<h1>Основи Angular</h1>
<ul class="list-group">
    <li class="list-group-item"><a class="nav-link" routerLink="calc"><i class="bi bi-calculator"></i> Взаємодія елементів</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="traffic"><i class="bi bi-stoplights"></i> Управління станом</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="rates"><i class="bi bi-cash-coin"></i> Обмін даними. HttpClient</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="moon"><i class="bi bi-moon"></i> Обмін віджетами. Sanitization</a></li>
    <li class="list-group-item"><a class="nav-link" routerLink="forms"><i class="bi bi-card-checklist"></i> Реактивні форми</a></li>

</ul>